
<div class="front">
     <div class="centered">
        <div class="image"><%= img_tag(image) %></div>
     </div>
     <div class="image_form centered">
       <input id="image" name="image" value="<%= (changed) ? image : '' %>" placeholder="Enter an image URL" type="text" />
       <input type="button" value="Change Image" />
       <a href="#" class="flip">Write!</a>
     </div>
</div>
<div class="back">
     <div class="text_form">
          <textarea placeholder="Write something awesome!" id="text" name="text"><%= text %></textarea>
          <textarea placeholder="Whom to?" id="address" name="address"><%= address %></textarea>
     </div>
     <a href="#" class="send"><%= (typeof(id) != 'undefined') ? 'Save' : 'Send' %></a>
     <a href="#" class="flip">Flip</a>
</div>
