
<div class="front">
     <%= img_tag(image) %>
     <div class="image_form">
          <%= input_field_tag('image', image) %>
          <input type="button" value="Change Image" />
          <a href="#" class="flip">Write!</a>
     </div>
</div>
<div class="back">
     <div class="text_form">
          <%= text_area_tag('text', text) %>
          <%= text_area_tag('address', address) %>
     </div>
     <a href="#" class="send"><%= (typeof(id) != 'undefined') ? 'Save' : 'Send' %></a>
</div>
